.toggle {
  display: grid;
  grid-template: 40px / 60% auto 30%;
  gap: 15px;
  padding: 10px 0;
}

.label {
  color: #f1f1f1;
  font-size: 2.5em;
  margin: 0 75%;
}

.sizeControls {
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 10px;
  background: white;
  width: 30px;
  height: 9px;
  justify-content: flex-start;
  padding: 0;
}
.user {
  justify-content: flex-end;
}
.auto {
  color: #f1f1f1;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 5px;
}
.circle {
  border-radius: 200px;
  background: rgb(43, 110, 255);
  width: 15px;
  height: 15px;
}
.number {
  width: 40px;
  margin-left: 5px;
}
